@import '../app/styles/colors';
@import '../app/styles/mixins';

.mainWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;

  .header{
    display: flex;
    justify-content: flex-start;
    padding-left: 120px;
    h2{
      @include standart_font($light_grey, 15px);

    }
    .properties{
      margin-right: 60px;
    }
  }
}